.search {
  text-align: right;
}

#search-button {
  display: inline;
  background-color: transparent;
  border: transparent;
}

#search-input {
  text-align: right;
  display: inline;
  margin: 10px -5px;
  border: transparent;
  background-color: transparent;
  max-width: 150px;
}
