button {
  text-align: center;
  margin: 5px;
  margin-left: -5px;
  margin-top: 10px;
  border-radius: 2px;
  display: block;
  font-size: 15px;
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.26);
}

h1 {
  padding: 5px;
  font-display: auto;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.26);
  text-align: center;
  display: inline-table;
  text-transform: capitalize;
  border-radius: 2px;
}

img {
  display: inline-table;
  max-width: 80%;
  vertical-align: -10px;
  margin-left: -16px;
  font-size: 50px;
}

h5 {
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.26);
  display: inline-table;
  text-transform: capitalize;
  border-radius: 2px;
}

hr {
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.26);
  margin-bottom: 0px;
}

li {
  line-height: 2px;
  padding: 5px;
}

.header {
  text-align: center;
  display: inline;
}

.search {
  text-align: right;
  display: inline;
  margin: 5px;
}

.main {
  text-align: center;
  line-height: 5px;
  padding: 10px;
}

.moreInfo {
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
  padding: 25px;
  font-size: 12px;
  list-style: none;
  line-height: 5px;
  max-width: 35%;
}

#search-button {
  display: inline;
  font-size: 15px;
  margin-left: 2px;
  border: transparent;
}

#temperature {
  margin: 15px;
  font-size: 90px;
  background-color: rgba(255, 255, 255, 0.26);
  display: inline-table;
  border-radius: 2px;
}

#real-feel {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}

#humidity {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}

#wind-speed {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}
