h5 {
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.26);
  display: inline-table;
  text-transform: capitalize;
  border-radius: 2px;
}

hr {
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.26);
  margin-bottom: 0px;
}

li {
  line-height: 2px;
  padding: 5px;
}

.moreInfo {
  text-align: center;
  max-width: 55%;
  margin: 0 auto;
  padding: 25px;
  font-size: 12px;
  list-style: none;
  line-height: 5px;
}

#real-feel {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}

#humidity {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}

#wind-speed {
  padding: 10px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 2px;
}
