h1 {
  padding: 5px;
  font-display: auto;
  margin-top: 25px;
  background-color: rgba(255, 255, 255, 0.26);
  text-align: center;
  display: inline-table;
  text-transform: capitalize;
  border-radius: 2px;
}

img {
  display: inline-table;
  max-width: 20%;
  vertical-align: -4px;
  margin-left: -16px;
}

.main {
  text-align: center;
  line-height: 5px;
  padding: 10px;
}

#hour-date {
  font-size: 15px;
  margin-top: -5px;
  background-color: rgba(255, 255, 255, 0.356);
  width: 180px;
  margin: 0 auto;
  border-radius: 2px;
}

#temperature {
  margin: 15px;
  font-size: 90px;
  background-color: rgba(255, 255, 255, 0.26);
  display: inline-table;
  border-radius: 2px;
}
