button {
  border: transparent;
}

footer {
  text-align: center;
  font-size: 8px;
  color: rgba(102, 101, 101, 0.582);
}

a {
  text-decoration: underline;
  color: rgba(102, 101, 101, 0.582);
  margin: 3px;
}

a:hover {
  color: beige;
}

.git {
  font-size: 10px;
}
