.container {
  background-image: url("./background/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 45%;
  margin: 0 auto;
  margin-top: 35px;
  border: transparent;
  padding: -15px;
  font-family: roboto Mono;
}
